.YouTubeEmbed {
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 250px;
    position: relative;
    height: 300px;
}
.YouTubeEmbed iframe {
    left: 0;
    top: 0;
    height: 300px;
    width: 450px;
    position: absolute;
}

.TwitchEmbed {
    margin-top: 20px;
}
.TwitchEmbed iframe {
    left: 0;
    top: 0;
    height: 300px;
    width: 450px;
}