.YouTubeEmbed {
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 250px;
    position: relative;
    height: 300px;
}
.YouTubeEmbed iframe {
    left: 0;
    top: 0;
    height: 300px;
    width: 450px;
    position: absolute;
}

.TwitchEmbed, .MedalEmbed {
    margin-top: 20px;
}
.TwitchEmbed iframe {
    left: 0;
    top: 0;
    height: 300px;
    width: 450px;
}

.ListCard {
    background-color: rgb(94, 11, 21);
    border: 2px solid rgb(208, 37, 37);
    width: fit-content;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
}

.ListCard button, .EmbedCard button {
  color: rgb(109, 174, 219);
  background-image: url('/public/wall.jpg');
  background-size: cover;
  background-position: 50%;
  border: 1px solid rgb(208, 37, 37);
  height: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.communityVid .EmbedCard {
    width: 98%;
    min-width: 910px;
    border-radius: 5px;
    background-color: rgb(109, 174, 219);
    color: rgb(12, 56, 97);
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.communityVid .EmbedCard div {
    display: flex;
    flex-direction: column;
    overflow: wrap;
}

.communityVid .EmbedCard .ClipInfo {
    height: 300px;
    width: 300px;
    max-width: 300px;
    overflow: wrap;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.communityVid .EmbedCard {
    margin: 8px;
    padding: 5px;
}

.communityVid .EmbedCard .ClipInfo img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-size: cover;
}

.communityVid .EmbedCard .ClipInfo h1 {
    font-weight: bold;
}

.communityVid .EmbedCard .ClipInfo span {
    font-style: italic;
    font-weight: 550;
}

.communityVid .EmbedCard .ClipInfo .CommentSection {
    background-color: rgb(240, 211, 247);
    border: 1px solid rgb(12, 56, 97);
    padding: 3px;
    margin: 3px;
}

.EmbedCard {
    width: 475px;
    border-radius: 5px;
    background-color: rgb(109, 174, 219);
    color: rgb(12, 56, 97);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EmbedCard p, .EmbedCard button, .EmbedCard div, .EmbedCard h1 {
    margin: 3px;
}

.EmbedCard p {
    width: 200px;
    overflow: scroll;
}

.EmbedCard .YouTubeEmbed, .EmbedCard .TwitchEmbed {
    height: 300px;
    width: 450px;
}

.EmbedCard .off form {
    visibility: hidden;
    display: none;
}

.EmbedCard .on form {
    background: rgb(94, 11, 21);
    border-radius: 5px;
    color: rgb(109, 174, 219);
    padding: 25px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EmbedCard form input, .EmbedCard form label {
    margin: 3px;
  }

.EmbedList {
    height: 750px;
    overflow: scroll;
}