.YouTubeEmbed {
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 250px;
    position: relative;
    height: 300px;
}
.YouTubeEmbed iframe {
    left: 0;
    top: 0;
    height: 300px;
    width: 450px;
    position: absolute;
}

.TwitchEmbed {
    margin-top: 20px;
}
.TwitchEmbed iframe {
    left: 0;
    top: 0;
    height: 300px;
    width: 450px;
}

.ListCard {
    background-color: rgb(94, 11, 21);
    border: 2px solid rgb(208, 37, 37);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
}

.ListCard button {
  color: rgb(109, 174, 219);
  background-image: url('/public/wall.jpg');
  background-size: cover;
  background-position: 50%;
  border: 1px solid rgb(208, 37, 37);
  padding: 5px;
  border-radius: 5px;
}

.EmbedCard {
    width: 475px;
    border-radius: 5px;
    background-color: rgb(109, 174, 219);
    color: rgb(12, 56, 97);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EmbedCard .YouTubeEmbed, .EmbedCard .TwitchEmbed {
    height: 300px;
    width: 450px;
}

.EmbedCard .off form {
    visibility: hidden;
    display: none;
}

.EmbedCard .on form {
    background: rgb(94, 11, 21);
    border-radius: 5px;
    color: rgb(109, 174, 219);
    padding: 25px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EmbedCard form input, .EmbedCard form label {
    margin: 3px;
  }

.EmbedList {
    height: 750px;
    overflow: scroll;
}