.nav {
    background-color: rgb(12, 56, 97);
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    align-content: stretch;
    flex-wrap: nowrap;

}

.AuthForm h1, .AuthForm label {
    margin: 3px;
}
.AuthForm h1 {
    font-weight: bold;
}

.AuthForm select {
    margin-left: 5px;
}