.nav {
    background-color: rgb(12, 56, 97);
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    align-content: stretch;
    flex-wrap: nowrap;

}